{% extends "hawaii/base.html" %}
{% load static %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<!DOCTYPE html>
<body>
  <h1>Geoprocessing Functions</h1>
  <h5>Introduction</h5>
  <p>Here is a list of the Geoprocessing functions that will be required for the app to function</p>
  <h5>The Functions</h5>
  <table>
    <tr>
      <th>Function</th>
      <th>Use</th>
    </tr>
    <tr>
      <td>Import Point files and Shapefiles</td>
      <td>Either the user can import the point shapefile along the ridges and a shapefile of the area they are
      interested in or they can create them on the app and then import into the python code to be processed. </td>
    </tr>
    <tr>
      <td>Clip Management</td>
      <td>To Clip the DEM file to size of the inported shapefile</td>
    </tr>
    <tr>
      <td>Zonal Statistics</td>
      <td>To calcuale the total volume within the canyon</td>
    </tr>
    <tr>
      <td>Interpolation Techniques (Kriging, IDW, Nearest neighbor)</td>
      <td>To interpolate the ridge points to create a new surface</td>
    </tr>
    <tr>
      <td>Extract Value to Point</td>
      <td>Need to extratc elevation values from the DEM to the extract point</td>
    </tr>
    <tr>
      <td>Raster Calcualtions</td>
      <td>Both raster will need several calculation performedd on them</td>
    </tr>
    <tr>
      <td>Change Projection</td>
      <td>Need to make sure all files are on the same geographic projection</td>
    </tr>
  </table>


</body>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}
